body
{
    margin: 0%;
    padding: 0%;
    width: 100%;
   }
   #pa
   {
       height: 80px;
   }
  #bg
  {
      background-color: rgb(197, 189, 189);
  }
  #li1
  {
      color:#d15b6d
  }
  